# Unify coding style across editors
# More info: http://editorconfig.org

# JavaScript
[*.js]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
quote_type = single
max_line_length = 120

# package.json indentation cannot be changed
# https://github.com/npm/npm/pull/3180#issuecomment-16336516
[{package.json}]
indent_size = 2
indent_style = space
